@page "/partsmanager"
@using TurboKanban;
@using TurboKanban.Data;

<PageTitle>Parts Management</PageTitle>

<h1>Parts Manager</h1>

<p>Manage Available Parts</p>

@code {
    private List<Parts> parts = new();
}

<ul>
    @foreach (var part in parts)
    {
        <li>@part.Title</li>
    }
</ul>

<input @bind="newPart" />
<button @onclick="AddPart">Add Part</button>

@code {
    private List<Parts> Items = new();
    string newPart = "";

    void AddPart()
    {
        if(!string.IsNullOrWhiteSpace(newPart))
        {
            parts.Add(new Parts { Title = newPart});
            newPart = string.Empty;
        }
    }
}